h1 {
    color: white;
    background-color: black;
}
h1, ul {
    text-align: center;
}
ul {
    list-style: none;
}
li{
    display: inline-block;
    margin: 25px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
a:visited{
    color :dodgerblue;
}

img{
    display:block;
    border-radius: 20px;
}